# Scrape Exoplanet Data from http://exoplanet.eu/catalog/

In [1]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import numpy as np

### Get exoplanet names from API csv, format names into URLS

In [2]:
#Admittedly the csv is the data I want, but to scrape I need the planet names so...
df = pd.read_csv('exoplanets.csv')
all_names = df['# name']

#format URLs
exoplanet_names = [name.strip() for name in all_names]
exoplanet_names = [name.replace(' ','_') for name in exoplanet_names]
url_list = [('http://exoplanet.eu/catalog/' + name + '/') for name in exoplanet_names]

### Create functions to get columns of our dataset

In [19]:
def get_mass(soup,data_list):
    data  = soup.find(id = "planet_mass")
    numbers = [float(x) for x in re.findall("\d+\.\d+", str(data))]
    if (numbers):
        data_list.append(numbers[0])
    else:
        data_list.append(np.NaN)

In [20]:
def get_mass_sini(soup,data_list):
    data  = soup.find(id = "planet_mass_sini")
    numbers = [float(x) for x in re.findall("\d+\.\d+", str(data))]
    if (numbers):
        individual_data.append(numbers[0])
    else:
        individual_data.append(np.NaN)

In [21]:
def get_axis(soup,data_list):
    data  = soup.find(id = "planet_axis")
    numbers = [float(x) for x in re.findall("\d+\.\d+", str(data))]
    if (numbers):
        individual_data.append(numbers[0])
    else:
        individual_data.append(np.NaN)

In [22]:
def get_orbital_period(soup,data_list):
    data  = soup.find(id = "planet_period")
    numbers = [float(x) for x in re.findall("\d+\.\d+", str(data))]
    if (numbers):
        individual_data.append(numbers[0])
    else:
        individual_data.append(np.NaN)

In [23]:
def get_eccentricity(soup,data_list):
    data  = soup.find(id = "planet_eccentricity")
    numbers = [float(x) for x in re.findall("\d+\.\d+", str(data))]
    if (numbers):
        individual_data.append(numbers[0])
    else:
        individual_data.append(np.NaN)

In [24]:
def get_omega(soup,data_list):
    data  = soup.find(id = "planet_omega")
    numbers = [float(x) for x in re.findall("\d+\.\d+", str(data))]
    if (numbers):
        individual_data.append(numbers[0])
    else:
        individual_data.append(np.NaN)

In [25]:
def get_tperi(soup,data_list):
    data  = soup.find(id = "planet_tperi")
    numbers = [float(x) for x in re.findall("\d+\.\d+", str(data))]
    if (numbers):
        individual_data.append(numbers[0])
    else:
        individual_data.append(np.NaN)

In [26]:
def get_radius(soup,data_list):
    data  = soup.find(id = "planet_radius")
    numbers = [float(x) for x in re.findall("\d+\.\d+", str(data))]
    if (numbers):
        individual_data.append(numbers[0])
    else:
        individual_data.append(np.NaN)

In [27]:
def get_inclination(soup,data_list):
    data  = soup.find(id = "planet_inclination")
    numbers = [float(x) for x in re.findall("\d+\.\d+", str(data))]
    if (numbers):
        individual_data.append(numbers[0])
    else:
        individual_data.append(np.NaN)

In [28]:
def get_detection_type(soup,data_list):
    data  = soup.find(id = "planet_detection_type")
    if (data):
        words = data.text.split()
        method = (' ').join(words[2:])
        individual_data.append(method)
    else:
        individual_data.append(np.NaN)

In [29]:
def get_star_mass(soup,data_list):
    data  = soup.find(id = "star_0_stars__mass")
    numbers = [float(x) for x in re.findall("\d+\.\d+", str(data))]
    if (numbers):
        individual_data.append(numbers[0])
    else:
        individual_data.append(np.NaN)

In [30]:
def get_star_age(soup,data_list):
    data  = soup.find(id = "star_0_stars__age")
    numbers = [float(x) for x in re.findall("\d+\.\d+", str(data))]
    if (numbers):
        individual_data.append(numbers[0])
    else:
        individual_data.append(np.NaN)

In [31]:
def get_star_effective_temp(soup,data_list):
    data  = soup.find(id = "star_0_stars__teff")
    numbers = [float(x) for x in re.findall("\d+\.\d+", str(data))]
    if (numbers):
        individual_data.append(numbers[0])
    else:
        individual_data.append(np.NaN)

In [32]:
def get_star_radius(soup,data_list):
    data  = soup.find(id = "star_0_stars__radius")
    numbers = [float(x) for x in re.findall("\d+\.\d+", str(data))]
    if (numbers):
        individual_data.append(numbers[0])
    else:
        individual_data.append(np.NaN)

In [33]:
def get_star_metallicity(soup,data_list):
    data  = soup.find(id = "star_0_stars__metallicity")
    numbers = [float(x) for x in re.findall("\d+\.\d+", str(data))]
    if (numbers):
        individual_data.append(numbers[0])
    else:
        individual_data.append(np.NaN)

### Scrape data into list of lists

In [40]:
#Scrape data from each website, store in list called 
#planets that whose elements are lists with the data for one planet

planets = []
for i, url in enumerate(url_list):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "lxml")
    individual_data = [all_names[i]]
    
    get_mass(soup, individual_data)
    get_mass_sini(soup, individual_data)
    get_axis(soup, individual_data)
    get_orbital_period(soup, individual_data)
    get_eccentricity(soup, individual_data)
    get_omega(soup, individual_data)
    get_tperi(soup, individual_data)
    get_radius(soup, individual_data)
    get_inclination(soup, individual_data)
    get_detection_type(soup, individual_data)
    get_star_mass(soup, individual_data)
    get_star_age(soup, individual_data)
    get_star_effective_temp(soup, individual_data)
    get_star_radius(soup, individual_data)
    get_star_metallicity(soup, individual_data)
    
    planets.append(individual_data)

In [41]:
#Create dataframe with proper column titles
exoplanet_data = pd.DataFrame(planets, columns = ['NAME','MASS','MASS_SINI','SEMI_MAJOR_AXIS','ORBITAL_PERIOD','ECCENTRICITY',
                                                 'OMEGA','TIME_PERIAPSE','PLANETARY_RADIUS','INCLINATION','DETECTION_TYPE',
                                                  'STAR_MASS','STAR_AGE','STAR_TEMP','STAR_RADIUS','STAR_METALLICITIY'])

In [42]:
exoplanet_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4098 entries, 0 to 4097
Data columns (total 16 columns):
NAME                 4098 non-null object
MASS                 1102 non-null float64
MASS_SINI            948 non-null float64
SEMI_MAJOR_AXIS      2584 non-null float64
ORBITAL_PERIOD       3880 non-null float64
ECCENTRICITY         1526 non-null float64
OMEGA                922 non-null float64
TIME_PERIAPSE        630 non-null float64
PLANETARY_RADIUS     3036 non-null float64
INCLINATION          855 non-null float64
DETECTION_TYPE       4096 non-null object
STAR_MASS            3676 non-null float64
STAR_AGE             1194 non-null float64
STAR_TEMP            3769 non-null float64
STAR_RADIUS          3556 non-null float64
STAR_METALLICITIY    3583 non-null float64
dtypes: float64(14), object(2)
memory usage: 512.3+ KB

In [43]:
exoplanet_data.describe()

,MASS,MASS_SINI,SEMI_MAJOR_AXIS,ORBITAL_PERIOD,ECCENTRICITY,OMEGA,TIME_PERIAPSE,PLANETARY_RADIUS,INCLINATION,STAR_MASS,STAR_AGE,STAR_TEMP,STAR_RADIUS,STAR_METALLICITIY
count,1102.000000,948.000000,2584.000000,3880.000000,1526.000000,922.000000,6.300000e+02,3036.000000,855.000000,3676.000000,1194.000000,3.769000e+03,3556.000000,3583.000000
mean,6.193621,3.616973,25.377871,805.801319,0.176849,177.670516,2.038312e+06,0.415828,84.479633,0.983541,4.410666,6.156510e+04,1.547144,0.144382
std,12.995303,7.434932,302.576872,13963.824619,0.332147,106.394426,9.115070e+05,0.469020,15.122217,0.480458,3.099233,3.442561e+06,3.205025,0.142825
min,0.000210,0.000470,0.002630,0.027829,0.000000,0.000000,1.236000e+03,0.000900,1.750000,0.015600,0.000500,5.386000e+01,0.015600,0.000000
25%,0.114675,0.138075,0.056175,4.561779,0.019250,87.100000,2.450448e+06,0.143000,85.415000,0.810000,2.000000,5.035000e+03,0.800000,0.040000
50%,0.880000,1.195000,0.126700,12.988515,0.107000,171.000000,2.453420e+06,0.215000,87.920000,0.970000,3.980000,5.603000e+03,0.990000,0.100000
75%,4.000000,3.331500,0.920250,54.290544,0.250000,270.000000,2.455427e+06,0.397000,89.240000,1.120000,6.600000,5.930000e+03,1.270000,0.210000
max,81.900000,63.300000,9200.000000,730000.000000,10.700000,360.000000,2.464763e+06,6.520000,172.100000,20.000000,15.000000,2.113518e+08,51.100000,1.000000

In [44]:
exoplanet_data.to_csv('exoplanet_data.csv',index=False)

In [1]:
import pandas as pd
data = pd.read_csv('exoplanet_data.csv')

In [3]:
import pickle
pickle_out = open("exoplanet_data.pickle","wb")
pickle.dump(data, pickle_out)
pickle_out.close()